.vs/
**/.vs/

.vscode/
**/.vscode/

.idea/
**/.idea/

*.sln.DotSettings.user

**/bin/*
**/obj/*

**/bin
**/obj

**/*.cache
**/*.pdb


.vscode/
*.code-workspace
.history/
*.vsix

node_modules/
**/node_modules/
dist/
*.log
